name: ci

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"
          cache-dependency-path: "**/poetry.lock"

      - name: Install Poetry
        run: pipx install poetry

      - name: Configure Poetry
        run: |
          poetry config virtualenvs.in-project true

      - name: Install deps (dev)
        run: |
          poetry install --with dev --no-interaction --no-ansi

      - name: Ruff (lint)
        run: poetry run ruff check .

      - name: Ruff (format check)
        run: poetry run ruff format --check .

  test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"
          cache-dependency-path: "**/poetry.lock"

      - name: Install Poetry
        run: pipx install poetry

      - name: Configure Poetry
        run: |
          poetry config virtualenvs.in-project true

      - name: Install deps (dev)
        run: |
          poetry install --with dev --no-interaction --no-ansi

      - name: Tests
        run: poetry run pytest -q --ignore=third_party

      - name: Build package (sanity)
        run: poetry build
